ion-item
{
	font-size:14px;
}

ion-item ion-icon
{
	font-size:22px;
}

ion-item ion-label
{
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
}

.menu_img
{
	width: 70%;margin-left: 10%;padding: 10px 10px;
}